absl-py ==0.11.0
astroid ==2.6.6
astropy ==4.3.1
astunparse ==1.6.3
benepar ==0.2.0
blis ==0.2.4
boto3 ==1.22.1
botocore ==1.25.1
cachetools ==4.1.1
catalogue ==1.0.0
certifi ==2020.6.20
cffi ==1.14.0
chardet ==3.0.4
click ==7.1.2
colorama ==0.4.4
cryptography ==2.9.2
cycler ==0.10.0
cymem ==2.0.6
cytoolz ==0.9.0.1
dill ==0.2.9
eagerpy ==0.29.0
en-core-web-sm ==2.1.0
enum34 ==1.1.10
filelock ==3.6.0
flatbuffers ==1.12
foolbox ==3.3.1
gast ==0.3.3
gensim ==4.1.2
gitdb ==4.0.7
GitPython ==3.1.15
google-auth ==1.23.0
google-auth-oauthlib ==0.4.2
google-pasta ==0.2.0
grpcio ==1.32.0
h5py ==2.10.0
huggingface-hub ==0.5.1
idna ==2.9
iniconfig ==1.1.1
intel-openmp ==2022.1.0
Jinja2 ==3.1.1
jmespath ==1.0.0
joblib ==1.1.0
jsonschema ==2.6.0
kiwisolver ==1.3.2
langcodes ==3.3.0
lazy-object-proxy ==1.7.1
libclang ==13.0.0
MarkupSafe ==2.1.1
mkl-fft ==1.2.0
mkl-random ==1.1.1
mkl-service ==2.3.0
mmdnn ==0.3.1
msgpack ==0.6.2
msgpack-numpy ==0.4.4
murmurhash ==1.0.7
neuralcoref ==4.0
nltk ==3.6.5
numpy ==1.22.3
oauthlib ==3.1.0
opt-einsum ==3.3.0
packaging ==21.3
pandas ==1.2.4
pathy ==0.6.1
Pillow ==8.2.0
pip ==22.0.4
plac ==0.9.6
plaidbench ==0.7.0
plaidml ==0.7.0
plaidml-keras ==0.7.0
pluggy ==0.13.1
preshed ==2.0.1
protobuf ==3.14.0
py ==1.9.0
pyasn1 ==0.4.8
pyasn1-modules ==0.2.8
pycallgraph ==1.0.1
pycosat ==0.6.3
pycparser ==2.20
pydantic ==1.8.2
pyerfa ==2.0.0.1
pyOpenSSL ==19.1.0
pyparsing ==2.4.7
PySocks ==1.7.1
python-dateutil ==2.8.1
pytz ==2021.1
PyYAML ==5.3.1
regex ==2022.4.24
requests ==2.25.1
requests-oauthlib ==1.3.0
rouge ==1.0.0
rsa ==4.6
ruamel_yaml ==0.15.87
s3transfer ==0.5.2
sacremoses ==0.0.49
scikit-learn ==1.0.2
scipy ==1.2.1
sentence-transformers ==2.1.0
sentencepiece ==0.1.96
setuptools ==56.0.0
six ==1.15.0
smart-open ==5.2.1
smmap ==4.0.0
spacy ==2.1.0
spacy-legacy ==3.0.9
spacy-loggers ==1.0.2
srsly ==1.0.5
synr ==0.6.0
tbb ==2021.6.0
termcolor ==1.1.0
thinc ==7.0.8
threadpoolctl ==3.1.0
tokenizers ==0.12.1
toml ==0.10.1
toolz ==0.11.2
torch ==1.10.1+cu113
torch-struct ==0.5
torchaudio ==0.8.0
torchvision ==0.9.0
tqdm ==4.46.0
transformers ==4.18.0
typer ==0.4.1
typing-extensions ==3.7.4.3
ujson ==5.1.0
urllib3 ==1.25.8
wasabi ==0.9.1
Werkzeug ==1.0.1
wheel ==0.36.2
wrapt ==1.12.1