numpy==1.22.3
pandas==1.2.4
nltk==3.6.5
sentence-transformers==2.1.0
neuralcoref==4.0
scipy==1.9.3
benepar==0.2.0
protobuf==3.14.0
pattern==3.6
spacy==2.1.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
